* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    /* height: 100vh; */
    background-color: white; /* White background */
}

.navbar {
   padding: 20PX 60PX;
}
.navbar a{
    text-decoration: none;
}
.logo {
    font-size: 2rem;
    font-weight: bold;
    color: #00A86B;
}

.main-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 500px;
    border-radius: 22px;
    background-color: rgba(170, 169, 169, 0.137);
    /* max-width: 400px; */
    /* width: 100%; */
}

.main-login h1 {
    font-size: 2.5rem;
    /* margin-bottom: 20px; */
    padding: 40px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* form label {
    font-size: 1.5rem;
    margin-bottom: 5px;
    text-align: left;
} */

form input {
    padding: 20px;
    width: 380px;
    font-size: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 18px;
    background-color: rgb(224, 223, 223);
}

.check-box {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-bottom: 20px;
}

.check-box input[type="checkbox"] {
    margin-right: 10px;
}
.remeber-me{
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
}
.password{
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
}
.check-box a {
    text-decoration: none;
    color: #00A86B;
}

.check-box a:hover {
    text-decoration: underline;
}

.hero-button {
    color: white;
    background-color: #00A86B;
    border: 2px solid #00A86B;
    margin-top: 30px;
    padding: 15px 130px;
    border-radius: 10px;
    font-size: 1rem;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.hero-button:hover {
    transform: translateY(-3px);
}

.underline {
    text-decoration: underline;
    color: #00A86B;
    cursor: pointer;
}

.main-login p{
    padding: 30px;
}